<div id="title">
    <h1>{{title}}  </h1>
    <h2>{{subtitle}} </h2>
    <p> {{web}} </p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur venenatis odio, eget tempor mi feugiat ac. Etiam volutpat faucibus lectus sed interdum. Duis ornare lacus sit amet purus semper ultrices. Proin commodo ornare dui, non eleifend nisl pulvinar eget. Nunc sit amet ante sit amet ipsum aliquam varius in eget augue. Donec ut commodo sem. Pellentesque lobortis, lorem vel efficitur ultricies, mauris urna facilisis mauris, ac finibus ipsum lacus eget mi. Curabitur facilisis magna augue, in fringilla tortor vestibulum id. In convallis rutrum velit, sit amet blandit nisl commodo vel. Mauris placerat pellentesque tincidunt. Proin in orci ipsum. Nulla sagittis, turpis sed finibus rhoncus, ligula ante eleifend turpis, eget gravida tellus dui ac mauris. Aenean semper auctor odio, et eleifend ipsum dapibus non. Nulla iaculis, felis id vulputate dignissim, justo lacus placerat dui, in suscipit nisl lorem vel mi. Pellentesque congue tincidunt nulla a mollis.
    </p>
</article>